
.Notifications {
    border: 2px dotted red;
    padding: 10px;
    padding-left: 2px;
    margin: 10px;
    background-color: #f9f9f9;
  }
  
.Notifications p {
    margin: 0;
    font-size: 1.02rem;
    padding-top: 5px;
    padding-left: 5px;
  }
  
  .Notifications ul li[data-notification-type="default"] {
    color: blue;
  }
  
  .Notifications ul li[data-notification-type="urgent"] {
    color: red;
  }