#CourseList {
    height: 100%;
    padding: 50px;
    margin-bottom: 20%;
  }
  
  #CourseList th,
  #CourseList td {
    border: 1px solid #ddd;
    padding: 2px;

  }
  
  #CourseList th {
    background-color: white;
}

.text1, .text2 {  
    text-align: left;
  }
  